In [1]:
nephews = ["shaghayegh", "shahin", "fatemeh", "amir"]

In [2]:
nephews

['shaghayegh', 'shahin', 'fatemeh', 'amir']

In [3]:
nephews[0]

'shaghayegh'

In [4]:
lnephews[-1]

'amir'

In [5]:
len(nephews)

4

In [10]:
for i in range(len(nephews)):
    print(nephews[i])

shaghayegh
shahin
fatemeh
amir

mix_it_up = [[1,2], '3', 'Mona']

In [12]:
nephews.append("farid")

In [18]:
nephews.extend(['saeed', 'anahita'])

In [17]:
nephews.extend(['mohammad mahdi'])

In [39]:
nephews

['shaghayegh',
 'shahin',
 'fatemeh',
 'amir',
 'farid',
 'saeed',
 'anahita',
 'mohammad mahdi',
 'mohammad mahdi',
 'saeed',
 'anahita']

In [40]:
family = []
family

[]

In [41]:
family.insert(0, 'mom')

In [42]:
family

['mom']

In [44]:
del family[0]

In [45]:
family

[]

In [49]:
family.insert(0, "dad")
family

['dad', 'dad', 'dad']

In [50]:
family.remove("dad")

In [51]:
family

['dad', 'dad']

In [52]:
nephews.sort()
nephews

['amir',
 'anahita',
 'anahita',
 'farid',
 'fatemeh',
 'mohammad mahdi',
 'mohammad mahdi',
 'saeed',
 'saeed',
 'shaghayegh',
 'shahin']

In [54]:
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
squares[-3:-1]

[64, 81]

In [55]:
squares[2:4]

[4, 9]

In [56]:
squares[:3]

[0, 1, 4]

In [57]:
squares[:]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
squares[5:]

[25, 36, 49, 64, 81, 100]

In [59]:
squares[::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [63]:
for val in squares:
    print(val, end=" ")

0 1 4 9 16 25 36 49 64 81 100

In [64]:
for index, value in enumerate(squares):
    print("Element", index,"-->", value)

Element 0 --> 0
Element 1 --> 1
Element 2 --> 4
Element 3 --> 9
Element 4 --> 16
Element 5 --> 25
Element 6 --> 36
Element 7 --> 49
Element 8 --> 64
Element 9 --> 81
Element 10 --> 100

In [71]:
people = {'mona' : 'jalal', 'margaret' : 'pearce', 'atefeh' : 'namvary', 'ainura' : 'ainabekova'}

In [72]:
people

{'ainura': 'ainabekova',
 'atefeh': 'namvary',
 'margaret': 'pearce',
 'mona': 'jalal'}

In [74]:
people['mona']

'jalal'

In [75]:
'maggie' in people

False

In [76]:
'mona' in people

True

In [77]:
del people['margaret']

In [78]:
people

{'ainura': 'ainabekova', 'atefeh': 'namvary', 'mona': 'jalal'}

In [80]:
for key in people:
    print(key,"**", people[key])

mona ** jalal
atefeh ** namvary
ainura ** ainabekova

In [81]:
for key in people.keys():
    print(key)

mona
atefeh
ainura

In [82]:
for value in people.values():
    print(value)

jalal
namvary
ainabekova

In [83]:
for key, value in people.items():
    print(key, "--->", value)

mona ---> jalal
atefeh ---> namvary
ainura ---> ainabekova

In [84]:
my_family = {'mona' : 'mina', 'dad' : 'hassan'}
my_family

{'dad': 'hassan', 'mona': 'mina'}

In [85]:
people.update(my_family)

In [86]:
people

{'ainura': 'ainabekova', 'atefeh': 'namvary', 'dad': 'hassan', 'mona': 'mina'}