In [1]:
nephews = ["shaghayegh", "shahin", "fatemeh", "amir"]

In [2]:
nephews

['shaghayegh', 'shahin', 'fatemeh', 'amir']

In [3]:
nephews[0]

'shaghayegh'

In [4]:
lnephews[-1]

'amir'

In [5]:
len(nephews)

4

In [10]:
for i in range(len(nephews)):
    print(nephews[i])

shaghayegh
shahin
fatemeh
amir

mix_it_up = [[1,2], '3', 'Mona']

In [12]:
nephews.append("farid")

In [18]:
nephews.extend(['saeed', 'anahita'])

In [17]:
nephews.extend(['mohammad mahdi'])

In [39]:
nephews

['shaghayegh',
 'shahin',
 'fatemeh',
 'amir',
 'farid',
 'saeed',
 'anahita',
 'mohammad mahdi',
 'mohammad mahdi',
 'saeed',
 'anahita']

In [40]:
family = []
family

[]

In [41]:
family.insert(0, 'mom')

In [42]:
family

['mom']

In [44]:
del family[0]

In [45]:
family

[]

In [49]:
family.insert(0, "dad")
family

['dad', 'dad', 'dad']

In [50]:
family.remove("dad")

In [51]:
family

['dad', 'dad']

In [52]:
nephews.sort()
nephews

['amir',
 'anahita',
 'anahita',
 'farid',
 'fatemeh',
 'mohammad mahdi',
 'mohammad mahdi',
 'saeed',
 'saeed',
 'shaghayegh',
 'shahin']

In [54]:
squares = [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
squares[-3:-1]

[64, 81]

In [55]:
squares[2:4]

[4, 9]

In [56]:
squares[:3]

[0, 1, 4]

In [57]:
squares[:]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [58]:
squares[5:]

[25, 36, 49, 64, 81, 100]

In [59]:
squares[::-1]

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1, 0]

In [63]:
for val in squares:
    print(val, end=" ")

0 1 4 9 16 25 36 49 64 81 100

In [64]:
for index, value in enumerate(squares):
    print("Element", index,"-->", value)

Element 0 --> 0
Element 1 --> 1
Element 2 --> 4
Element 3 --> 9
Element 4 --> 16
Element 5 --> 25
Element 6 --> 36
Element 7 --> 49
Element 8 --> 64
Element 9 --> 81
Element 10 --> 100

In [71]:
people = {'mona' : 'jalal', 'margaret' : 'pearce', 'atefeh' : 'namvary', 'ainura' : 'ainabekova'}

In [72]:
people

{'ainura': 'ainabekova',
 'atefeh': 'namvary',
 'margaret': 'pearce',
 'mona': 'jalal'}

In [74]:
people['mona']

'jalal'

In [75]:
'maggie' in people

False

In [76]:
'mona' in people

True

In [77]:
del people['margaret']

In [78]:
people

{'ainura': 'ainabekova', 'atefeh': 'namvary', 'mona': 'jalal'}

In [80]:
for key in people:
    print(key,"**", people[key])

mona ** jalal
atefeh ** namvary
ainura ** ainabekova

In [81]:
for key in people.keys():
    print(key)

mona
atefeh
ainura

In [82]:
for value in people.values():
    print(value)

jalal
namvary
ainabekova

In [83]:
for key, value in people.items():
    print(key, "--->", value)

mona ---> jalal
atefeh ---> namvary
ainura ---> ainabekova

In [84]:
my_family = {'mona' : 'mina', 'dad' : 'hassan'}
my_family

{'dad': 'hassan', 'mona': 'mina'}

In [85]:
people.update(my_family)

In [86]:
people

{'ainura': 'ainabekova', 'atefeh': 'namvary', 'dad': 'hassan', 'mona': 'mina'}

In [89]:
squares = []
for i in range(10):
    squares.append(i**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [92]:
squares = [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [95]:
squares = [i**2 for i in range(40) if i%4==0]
squares

[0, 16, 64, 144, 256, 400, 576, 784, 1024, 1296]

In [98]:
squares3_dict = {i : i**2 for i in range(35) if i%3==0}
squares3_dict

{0: 0,
 3: 9,
 6: 36,
 9: 81,
 12: 144,
 15: 225,
 18: 324,
 21: 441,
 24: 576,
 27: 729,
 30: 900,
 33: 1089}

In [109]:
sum([i**3 for i in range(10)])

2025

In [110]:
sum(i**3 for i in range(10))

2025

In [111]:
words_file = open('wordswo', 'r')

In [112]:
words_list = words_file.readlines()

In [114]:
words_list[:20]

['A\n',
 'a\n',
 'aa\n',
 'aal\n',
 'aalii\n',
 'aam\n',
 'Aani\n',
 'aardvark\n',
 'aardwolf\n',
 'Aaron\n',
 'Aaronic\n',
 'Aaronical\n',
 'Aaronite\n',
 'Aaronitic\n',
 'Aaru\n',
 'Ab\n',
 'aba\n',
 'Ababdeh\n',
 'Ababua\n',
 'abac\n']

In [115]:
len(words_list)

235886

In [118]:
cleaned_words = [item.rstrip().lower() for item in words_list]

In [132]:
unique_words = list(set(cleaned_words))
unique_words.sort()

In [133]:
unique_words[:10]

['a',
 'aa',
 'aal',
 'aalii',
 'aam',
 'aani',
 'aardvark',
 'aardwolf',
 'aaron',
 'aaronic']

In [134]:
cleaned_sorted_words = sorted(list(set([word.rstrip().lower() for word in open('words', 'r')])))

In [135]:
cleaned_sorted_words[:10]

['a',
 'aa',
 'aal',
 'aalii',
 'aam',
 'aani',
 'aardvark',
 'aardwolf',
 'aaron',
 'aaronic']